@media(max-width:768px) {
    h2 {
        font-size: 1.5em;
    }
    header {
        top: -54px;
      }
    .algos button {
        font-size: 0.8em;
    }

    section {
        flex-direction: column-reverse;
    }

    section #Info_Cont1 {
        width: 91%;
    }

    .cont {
        width: 100%;
    }
}
@media(max-width:768px){
    .array-inputs {
        width: 90%;
    }
    .algos{
        overflow-x: scroll;
    }
}